<label>Sort by:</label>
<div>
    <input type="checkbox" name="sort-by" value="name" id="sort-by-name">
    <label for="sort-by-name">Name</label>
</div>
<div>
    <input type="checkbox" name="sort-by" value="price" id="sort-by-price">
    <label for="sort-by-price">Price</label>
</div>
<div>
    <input type="checkbox" name="sort-by" value="brand" id="sort-by-brand">
    <label for="sort-by-brand">Brand</label>
</div>

<label>Sort direction:</label>
<div>
    <input type="checkbox" name="sort-direction" value="asc"
        id="sort-direction-asc">
    <label for="sort-direction-asc">Ascending</label>
</div>
<div>
    <input type="checkbox" name="sort-direction" value="desc"
        id="sort-direction-desc">
    <label for="sort-direction-desc">Descending</label>
</div>
