{% extends 'womanshop/base.html' %}
{% load static %}

{% block content %}
<div id="catalog_menu">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная
                    страница</a></li>
            <li class="breadcrumb-item active" aria-current="page">Каталог</li>
        </ol>
    </nav>
    <p id="cat_p">КАТАЛОГ</p>
    <pre>Акция! Бесплатная доставка по Калининграду от 4 500₽</pre>
    <div id="sorting" class="container">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by" name="sort-by">
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="brand">Brand</option>
        </select>
        <label for="sort-direction">Sort direction:</label>
        <select id="sort-direction" name="sort-direction">
            <option value="asc">Ascending</option>
            <option value="desc">descending</option>
        </select>
    </div>
    <img id="line29" src="{% static '/img/Line 29.png' %}" alt>
    <img id="line30" src="{% static '/img/Line 30.png' %}" alt>
    <div id="choice_of_goods">
        <p id="name_categor">КАТЕГОРИИ</p>
        <p id="name_price">По ЦЕНЕ</p>
        <p id="name_style">ПО&nbsp;СТИЛЮ&nbsp;И&nbsp;НАЗНАЧЕНИЮ</p>
        <p id="name_brand">БРЕНДЫ</p>
        <form action="{% url 'catalog_api' %}" method="get">
            {% csrf_token %}
            <div id="form_category">
                <div class="form-group">
                    <input type="checkbox" name="bodysuit" value="bodysuit"
                        id="sort_bodysuit">
                    <label for="sort-by-name">Боди</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="bras" value="bras"
                        id="sort_bras">
                    <label for="sort-by-name">Бюстгальтеры</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="tights_and_socks"
                        value="tights_and_socks"
                        id="sort_tights_and_socks">
                    <label for="sort-by-name"> Колготки и носки </label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="swimwear"
                        value="swimwear"
                        id="sort_swimwear">
                    <label for="sort-by-name">Купальники</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="men_underwear"
                        value="men_underwear"
                        id="sort_men_underwear">
                    <label for="sort-by-name">Мужское белье</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="panties"
                        value="panties"
                        id="sort_panties">
                    <label for="sort-by-name">Трусики</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="seamless_underwear"
                        value="seamless_underwear"
                        id="sort_seamless_underwear">
                    <label for="sort-by-name">Бесшовное нижнее белье</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="thermal_underwear"
                        value="thermal_underwear"
                        id="sort_thermal_underwear">
                    <label for="sort-by-name">Термобелье</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="accessories"
                        value="accessories"
                        id="sort_accessories">
                    <label for="sort-by-name">Аксессуары</label>
                </div>
            </div>
            <div id="form_price">
                <div id="start">
                    <p><label for="id_start">От:</label></p>
                    <p><input type="text" name="start" style="width:
                            97px;"
                            id="id_start"></p>
                </div>
                <div id="end">
                    <p><label for="id_end">До:</label></p>
                    <p><input type="text" name="end" style="width: 97px;"
                            id="id_end"></p>
                </div>
            </div>
            <div id="form_style">
                <div class="form-group">
                    <input type="checkbox" name="basic_underwear"
                        value="basic_underwear"
                        id="sort_basic_underwear">
                    <label for="sort-by-name">Базовое белье</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="new_style"
                        value="new_style"
                        id="sort_new_style">
                    <label for="sort-by-name">Новинки</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="сomfort_underwear"
                        value="сomfort_underwear"
                        id="sort_сomfort_underwear">
                    <label for="sort-by-name">Комфортное белье</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="sexual"
                        value="sexual"
                        id="sort_sexual">
                    <label for="sort-by-name">Сексуальное</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="lacy"
                        value="lacy"
                        id="sort_lacy">
                    <label for="sort-by-name">Кружевное</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="everyday"
                        value="everyday"
                        id="sort_everyday">
                    <label for="sort-by-name">Повседневное</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="homewear"
                        value="homewear"
                        id="sort_homewear">
                    <label for="sort-by-name">Одежда для дома</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="sleepwear"
                        value="sleepwear"
                        id="sort_sleepwear">
                    <label for="sort-by-name">Одежда для сна</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="for_wedding"
                        value="for_wedding"
                        id="sort_for_wedding">
                    <label for="sort-by-name">Для свадьбы</label>
                </div>
            </div>
            <div id="form_brand">
                <div class="form-group">
                    <input type="checkbox" name="avelin"
                        value="avelin"
                        id="sort_avelin">
                    <label for="sort-by-name">AVELIN</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="comazo"
                        value="comazo"
                        id="sort_comazo">
                    <label for="sort-by-name">COMAZO</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="lauma"
                        value="lauma"
                        id="sort_lauma">
                    <label for="sort-by-name">LAUMA</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="melado"
                        value="melado"
                        id="sort_melado">
                    <label for="sort-by-name">MELADO</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="milavitsa"
                        value="milavitsa"
                        id="sort_milavitsa">
                    <label for="sort-by-name">MILAVITSA</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="serge"
                        value="serge"
                        id="sort_serge">
                    <label for="sort-by-name">SERGE</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="teatro"
                        value="teatro"
                        id="sort_teatro">
                    <label for="sort-by-name">TEATRO</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="triumph"
                        value="triumph"
                        id="sort_triumph">
                    <label for="sort-by-name">TRIUMPH</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="product" class="container">
    <div id="a" class="row row-cols-3"></div>
    <nav aria-label>
        <a href="#" id="next">
            Load more
        </a>
    </nav>

</div>

{% endblock content %}