{% extends 'womanshop/base.html' %}
{% load static %}

{% block content %}
<div id="naw_product">
  <nav style="--bs-breadcrumb-divider: '>';"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная
          страница</a></li>
      <li class="breadcrumb-item"><a
          href="/catalog">{{product.category.name}}</a></li>
      <li class=" breadcrumb-item active" aria-current="page">{{product.name}}</li>
    </ol>
  </nav>
</div>
<img id="arrow3" src="{% static 'img/Arrow 3.jpg' %}" alt>
<img id="product_image1" src="{{ product.image1.url }}" alt>
<img id="product_image2" src="{{ product.image2.url }}" alt>
<img id="product_image3" src="{{ product.image3.url }}" alt>
<img id="product_image4" src="{{ product.image4.url }}" alt>
<img id="arrow4" src="{% static 'img/Arrow 4.png' %}" alt>

<div id="product_info">
  <p>{{product.name}}</p>
  <pre>{{product.vendor_code}} | {{product.brand.name}} | {{product.collection}}</pre>
  <p id="product_price">{{product.price}}&nbsp;₽</p>
  <p id="product_color">ЦВЕТ:</p>

  <div id="color_picker">
    <div class="color_circle selected"
      style="background-color: {{ data.0.color }};"
      data-color="{{ data.0.color }}" data-sizes="{{ data.0.sizes }}"></div>

    {% for obj in data|slice:"1:" %}
    <div class="color_circle" style="background-color: {{ obj.color }};"
      data-color="{{ obj.color }}" data-sizes="{{ obj.sizes }}"></div>
    {% endfor %}

  </div>

  <p id="product_size">РАЗМЕР:</p>

  <div id="size_picker">
    <div class="size_square selected"
      data-size="70E" data-colors="{{ '70E' }}">70E</div>
    <div class="size_square" data-size="70D"
      name="size" data-colors="{{ '70D' }}">70D</div>
    <div class="size_square" data-size="70F"
      name="size" data-colors="{{ '70F' }}">70F</div>
    <div class="size_square" data-size="75C"
      name="size" data-colors="{{ '75C' }}">75C</div>
    <div class="size_square" data-size="75D"
      name="size" data-colors="{{ '75D' }}">75D</div>
    <div class="size_square" data-size="75E"
      name="size" data-colors="{{ '75E' }}">75E</div>
    <div class="size_square" data-size="75F"
      name="size" data-colors="{{ '75F' }}">75F</div>
    <div class="size_square" data-size="80B"
      name="size" data-colors="{{ '80B' }}">80B</div>
    <div class="size_square" data-size="80C"
      name="size" data-colors="{{ '80C' }}">80C</div>
    <div class="size_square" data-size="80D"
      name="size" data-colors="{{ '80D' }}">80D</div>
    <div class="size_square" data-size="80E"
      name="size" data-colors="{{ '80E' }}">80E</div>
    <div class="size_square" data-size="80F"
      name="size" data-colors="{{ '80F' }}">80F</div>
    <!-- Добавьте остальные размеры квадратиков здесь -->
  </div>

  <p id="product_quantity">КОЛИЧЕСТВО</p>

  <form id="quantity_form">
    {% csrf_token %}
    <div class="quantity_buttons">
      <button id="button-" type="button" class="quantity_button minus">-</button>
      <input type="number" id="quantity_input" name="quantity" min="1"
        value="1">
      <button id="button_plus" type="button" class="quantity_button plus">+</button>
    </div>
    <p id="product_stock">В наличии: {{product.stock}}</p>
    <button id="product_submit" type="submit">Добавить в корзину</button>
    <p id="order-info">Для заказа не нужна регистрация</p>
  </form>

  <div id="selected_size_square">
  </div>

</div>
<div id="product_description">
  <p>ОПИСАНИЕ</p>
  <pre id="product_description_pre">{{ product.description }}</pre>
</div>

<pre id="you_more_love">
  ВАМ ЕЩЁ
  ПОНРАВИТСЯ...
</pre>

<div id="minus_next"><a href="#product_love"><img
      src="{% static '/img/Arrow 5.png' %}"
      alt></a></div>
<div id="plus_next"><a href="#product_love"><img
      src="{% static '/img/Arrow 6.png' %}" alt></a></div>

<div id="product_love" class="container">
  <div id="love" class="row row-cols-3"></div>
</div>

<script>
  // Получаем ссылки на изображения
  var image1 = document.getElementById('product_image1');
  var image2 = document.getElementById('product_image2');
  var image3 = document.getElementById('product_image3');
  var image4 = document.getElementById('product_image4');

  // Сохраняем исходный src атрибут image1
  var originalSrc = image1.src;

  // Функция для замены изображения
  function replaceImage(clickedImage) {
      var clickedSrc = clickedImage.src;
      clickedImage.src = image1.src;
      image1.src = clickedSrc;
  }

  // Обработчик клика на изображении image2
  image2.addEventListener('click', function() {
      replaceImage(image2);
  });

  // Обработчик клика на изображении image3
  image3.addEventListener('click', function() {
      replaceImage(image3);
  });

  // Обработчик клика на изображении image4
  image4.addEventListener('click', function() {
      replaceImage(image4);
  });

  // Обработчик клика на изображении image1
  image1.addEventListener('click', function() {
      replaceImage(image1);
  });

</script>

<script>
  // Получаем ссылки на элементы формы и кнопки
  var quantityForm = document.getElementById('quantity_form');
  var minusButton = document.querySelector('.quantity_button.minus');
  var plusButton = document.querySelector('.quantity_button.plus');
  var quantityInput = document.getElementById('quantity_input');
  var productStock = document.getElementById('product_stock');
  var userIsAuthenticated = "{{ user }}";
  var stock = 0
  // Функция для получения значения cookie по имени
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (const element of cookies) {
        var cookie = element.trim();
        // Проверяем, является ли cookie искомым cookie по имени
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  
    // Функция для обновления доступных размеров
    function updateSizes(sizes) {
      var sizePicker = document.getElementById('size_picker');
      var sizeSquares = sizePicker.getElementsByClassName('size_square');
    
      // Скрыть все размеры
      Array.from(sizeSquares).forEach(function(square) {
        square.style.display = 'none';
      });
    
      // Отобразить только выбранные размеры
      sizes.split(',').forEach(function(size) {
        var sizeSquare = sizePicker.querySelector('.size_square[data-size="' + size + '"]');
        if (sizeSquare) {
          sizeSquare.style.display = 'inline-block';
        }
      });
    }


    // Обработчик клика на цветовом кружке
    var colorCircles = document.querySelectorAll('.color_circle');
    colorCircles.forEach(function(circle) {
      circle.addEventListener('click', function() {
        // Убираем класс 'selected' у всех цветовых кружков
        colorCircles.forEach(function(circle) {
          circle.classList.remove('selected');
        });
    
        // Добавляем класс 'selected' выбранному цветовому кружку
        this.classList.add('selected');
    
        // Удаляем стиль 'border' у всех цветовых кружков
        colorCircles.forEach(function(circle) {
          circle.style.border = 'none';
        });
    
        // Добавляем стиль 'border' выбранному цветовому кружку
        this.style.border = '4px solid pink'; // Здесь 'pink' можно заменить на желаемый цвет

        // Получаем доступные размеры для выбранного цвета
      var sizes = this.getAttribute('data-sizes');
      console.log(sizes)
      

      // Обновляем размеры в соответствующем контейнере
      if (sizes !== null && sizes !== undefined) {
        // Выполнить действия, если размеры не равны null или undefined
        updateSizes(sizes);
      }
      
      });
    });
  

  // Обработчик клика на квадратике размера
  // Получаем ссылку на контейнер с квадратиками размеров
var sizePicker = document.getElementById('size_picker');

// Получаем ссылки на все квадратики размеров внутри контейнера
var sizeSquares = sizePicker.getElementsByClassName('size_square');

// Обработчик клика на квадратике размера
Array.from(sizeSquares).forEach(function(square) {
  square.addEventListener('click', function() {
    // Убираем класс 'selected' у всех квадратиков размера
    Array.from(sizeSquares).forEach(function(square) {
      square.classList.remove('selected');
    });

    // Добавляем класс 'selected' выбранному квадратику размера
    this.classList.add('selected');

    // Изменяем цвет текста всех квадратиков размера
    Array.from(sizeSquares).forEach(function(square) {
      square.style.color = 'black';
    });

    // Изменяем цвет текста выбранного квадратика размера
    this.style.color = 'pink';

    
    var selectedColor = document.querySelector('.color_circle.selected');
    var selectedSize = document.querySelector('.size_square.selected');
    var color = selectedColor.getAttribute('data-color');
    var size = selectedSize.getAttribute('data-size');
    var data = {
      color: color,
      size: size
    };

    // Создаем и настраиваем XMLHttpRequest объект
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{% url "available_product_quantity" product.id %}');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
    // Отправляем данные на сервер
    xhr.send(JSON.stringify(data));

    // Обработчик ответа от сервера
    xhr.onload = function() {
      if (xhr.status === 200) {
        // Обновляем информацию о количестве товара в наличии
        var response = JSON.parse(xhr.responseText);
        productStock.textContent = 'В наличии: ' + response.stock;
        stock=response.stock
      }
    }
  })
});



  // Обработчик клика на кнопку "-"
  minusButton.addEventListener('click', function() {
    if (quantityInput.value > 1) {
      quantityInput.value--;
    }
  });

  // Обработчик клика на кнопку "+"
  plusButton.addEventListener('click', function() {
    if (quantityInput.value < stock){
      quantityInput.value++;
    }
  });

  // Обработчик отправки формы
  quantityForm.addEventListener('submit', function(event) {
    event.preventDefault();
  
  if (userIsAuthenticated === 'True'){
    var selectedColor = document.querySelector('.color_circle.selected');
    var selectedSize = document.querySelector('.size_square.selected');

    // Установка значений выбранного цвета и размера на странице
    var selectedColorText = selectedColor.getAttribute('data-color');
    var selectedSizeText = selectedSize.getAttribute('data-size');
    document.getElementById('product_color').textContent = 'ЦВЕТ: ' + selectedColorText;
    document.getElementById('product_size').textContent = 'РАЗМЕР: ' + selectedSizeText;

    if (selectedColor && selectedSize && quantityInput.value > 0) {
      var color = selectedColor.getAttribute('data-color');
      var size = selectedSize.getAttribute('data-size');
      var quantity = quantityInput.value;

      // Создаем объект с данными для отправки на сервер
      var data = {
        color: color,
        size: size,
        quantity: quantity
      };

      // Создаем и настраиваем XMLHttpRequest объект
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '{% url "add_to_cart" product.id %}');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

      // Отправляем данные на сервер
      xhr.send(JSON.stringify(data));

      // Обработчик ответа от сервера
      xhr.onload = function() {
        if (xhr.status === 200) {
          // Обновляем информацию о количестве товара в наличии
          var response = JSON.parse(xhr.responseText);
          productStock.textContent = 'В наличии: ' + response.stock;
          quantityInput.value = 1;

          // Обновляем количество товаров в корзине
          var itemInCartElement = document.getElementById('item_in_cart');
          if (itemInCartElement) {
            var currentItemCount = parseInt(itemInCartElement.textContent);
            itemInCartElement.textContent = currentItemCount + 1;
          }


          // Показываем уведомление об успешном добавлении товара в корзину
          alert('Товар успешно добавлен в корзину!');
        } else {
          // Показываем уведомление об ошибке
          alert('Ошибка при добавлении товара в корзину!');
        }
      };
    } else {
      // Показываем уведомление о неправильном выборе цвета, размера или количества
      alert('Пожалуйста, выберите цвет, размер и количество товара!');
    }
  } else {
    alert('Зарегестрируйтесь или войдите!')
  }
  });

  async function getDataProductLove(url,page,paginateBy) {
    const urlWithParams = url + "?" + new URLSearchParams({
    page : page,
    per_page: paginateBy,
    category_by: "{{ product.category.name }}",
    product_id: "{{ product.id }}"
  })
    const response = await fetch(urlWithParams);
    return response.json();
  }

  class LoadMorePaginatorLove{
    constructor(per_page) {
      this.per_page = per_page
      this.pageIndex = 1
      this.container = document.querySelector('#love')
      this.minusNext = document.querySelector('#minus_next')
      this.plusNext = document.querySelector('#plus_next')
      this.minusNext.addEventListener('click',this.onMinusClickNext.bind(this))
      this.plusNext.addEventListener('click',this.onPlusClickNext.bind(this))
      this.loadLoveMore()
    }

    onMinusClickNext (event) {
      if (this.pageIndex > 1) {
      this.pageIndex--;
      this.loadLoveMore();
      }
    }

    onPlusClickNext (event) {
      this.pageIndex++;
      this.loadLoveMore();
    }

    addLoveElement (product) {
      const div = document.createElement('div');
      div.innerHTML = `
          <div class="col">
            <img src="${product.image1}" width="273px" height="364px" alt="Not photo">
            <p>${product.name}</p>
            <p>${product.brand}</p>
            <p>${product.price}₽</p>
            <a href="/product/${product.id}">Подробние</a>
            <p><img src="{% static '/img/Line 25.png' %}" alt=""></p>
      `
      this.container.append(div)
      div.style.display = 'block'
    }

    loadLoveMore () {
      getDataProductLove("{% url 'product_api' %}",this.pageIndex,this.per_page)
      .then(response => {
          this.container.innerHTML = '';
          response.data.forEach ((el) => {
              this.addLoveElement (el)
          });
          this.plusNext.style.display = !response.has_next ? "none" : "block"
      });
    }
  }
  new LoadMorePaginatorLove(3);
</script>
{% endblock %}
