{% extends 'womanshop/base.html' %}
{% load static %}

{% block content %}
<div id="naw_product">
  <nav style="--bs-breadcrumb-divider: '>';"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная
          страница</a></li>
      <li class="breadcrumb-item"><a
          href="{% url 'catalog' %}?categors={{ product.category.name }}">{{product.category.name}}</a></li>
      <li class=" breadcrumb-item active" aria-current="page">{{product.name}}</li>
    </ol>
  </nav>
</div>
<img id="arrow3" src="{% static 'img/Arrow 3.jpg' %}" alt>
<img id="product_image1" src="{{ product.image1.url }}" alt>
<img id="product_image2" src="{{ product.image2.url }}" alt>
<img id="product_image3" src="{{ product.image3.url }}" alt>
<img id="product_image4" src="{{ product.image4.url }}" alt>
<img id="arrow4" src="{% static 'img/Arrow 4.png' %}" alt>

<div id="product_info">
  <p>{{product.name}}</p>
  <pre>{{product.vendor_code}} | {{product.brand.name}} | {{product.collection}}</pre>

  {% if favorite %}
  <img id="favorite" src="{% static '/img/life.png' %}"
    alt="favorite">
  {% else %}
  <img id="favorite" src="{% static '/img/избранное.png' %}"
    alt="not_favorite">
  {% endif %}

  <p id="product_price">{{product.price}}&nbsp;₽</p>
  <p id="product_color">ЦВЕТ:</p>

  <div id="color_picker">
    <div class="color_circle selected"
      style="background-color: {{ data.0.color }};"
      data-color="{{ data.0.color }}" data-sizes="{{ data.0.sizes }}"></div>

    {% for obj in data|slice:"1:" %}
    <div class="color_circle" style="background-color: {{ obj.color }};"
      data-color="{{ obj.color }}" data-sizes="{{ obj.sizes }}"></div>
    {% endfor %}

  </div>

  <p id="product_size">РАЗМЕР:</p>

  <div id="size_picker">
    <div class="size_square selected"
      data-size="70E" data-colors="{{ '70E' }}">70E</div>
    <div class="size_square" data-size="70D"
      name="size" data-colors="{{ '70D' }}">70D</div>
    <div class="size_square" data-size="70F"
      name="size" data-colors="{{ '70F' }}">70F</div>
    <div class="size_square" data-size="75C"
      name="size" data-colors="{{ '75C' }}">75C</div>
    <div class="size_square" data-size="75D"
      name="size" data-colors="{{ '75D' }}">75D</div>
    <div class="size_square" data-size="75E"
      name="size" data-colors="{{ '75E' }}">75E</div>
    <div class="size_square" data-size="75F"
      name="size" data-colors="{{ '75F' }}">75F</div>
    <div class="size_square" data-size="80B"
      name="size" data-colors="{{ '80B' }}">80B</div>
    <div class="size_square" data-size="80C"
      name="size" data-colors="{{ '80C' }}">80C</div>
    <div class="size_square" data-size="80D"
      name="size" data-colors="{{ '80D' }}">80D</div>
    <div class="size_square" data-size="80E"
      name="size" data-colors="{{ '80E' }}">80E</div>
    <div class="size_square" data-size="80F"
      name="size" data-colors="{{ '80F' }}">80F</div>
    <!-- Добавьте остальные размеры квадратиков здесь -->
  </div>

  <p id="product_quantity">КОЛИЧЕСТВО</p>

  <form id="quantity_form">
    {% csrf_token %}
    <div class="quantity_buttons">
      <button id="button-" type="button" class="quantity_button minus">-</button>
      <input type="number" id="quantity_input" name="quantity" min="1"
        value="1">
      <button id="button_plus" type="button" class="quantity_button plus">+</button>
    </div>
    <p id="product_stock">В наличии: {{product.stock}}</p>
    <button id="product_submit" type="submit">Добавить в корзину</button>
    <p id="order-info">Для заказа не нужна регистрация</p>
  </form>

  <div id="selected_size_square">
  </div>

</div>
<div id="product_description">
  <p>ОПИСАНИЕ</p>
  <pre id="product_description_pre">{{ product.description }}</pre>
</div>

<pre id="you_more_love">
  ВАМ ЕЩЁ
  ПОНРАВИТСЯ...
</pre>

<div id="brand" class="container">
  <p>БРЕНДЫ</p>
  <div id="img_brand" class="container">
    <img src="{% static '/img/image 1.png' %}" alt>
    <img src="{% static '/img/image 2.1.png' %}" alt>
    <img src="{% static '/img/image 3.1.png' %}" alt>
    <img src="{% static '/img/image 4.1.png' %}" alt>
    <img src="{% static '/img/image 5.1.png' %}" alt>
  </div>
</div>

<div id="minus_next"><a href="#product_love"><img
      src="{% static '/img/Arrow 5.png' %}"
      alt></a></div>
<div id="plus_next"><a href="#product_love"><img
      src="{% static '/img/Arrow 6.png' %}" alt></a></div>

<div id="product_love" class="container">
  <div id="love" class="row row-cols-3"></div>
</div>
<input type="hidden" id="productQuantityURL"
  value="{% url 'available_product_quantity' product.id %}">
<input type="hidden" id="productAddcartUrl"
  value="{% url 'add_to_cart' product.id %}">

{% endblock %}
