<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit User Profile</title>
    </head>
    <body>
        <h1>Edit User Profile</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="address">Address:</label>
            <input type="text" name="address" id="address" value="{{
                user_profile.address }}">
            <br>
            <label for="city">City:</label>
            <input type="text" name="city" id="city" value="{{ user_profile.city
                }}">
            <br>
            <label for="state">State:</label>
            <input type="text" name="state" id="state" value="{{
                user_profile.state }}">
            <br>
            <label for="zip_code">Zip Code:</label>
            <input type="text" name="zip_code" id="zip_code" value="{{
                user_profile.zip_code }}">
            <br>
            <label for="phone_number">Phone Number:</label>
            <input type="text" name="phone_number" id="phone_number" value="{{
                user_profile.phone_number }}">
            <br>
            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" name="date_of_birth" id="date_of_birth" value="{{
                user_profile.date_of_birth }}">
            <br>
            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
                {% if user_profile.gender == 'M' %}
                <p>Male</p>
                {% elif user_profile.gender == 'F' %}
                <p>Female</p>
                {% else %}
                <p>None</p>
                {% endif %}

            </select>
            <br>
            <label for="profile_pic">Profile Pic:</label>
            <input type="file" name="profile_pic" id="profile_pic">
            <br>
            <input type="submit" value="Save">
        </form>
    </body>
</html>
